page-profile {
    .headerProfile {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#133163+25,205aaa+100 */
background: #133163; /* Old browsers */
background: -moz-linear-gradient(343deg,#4c68b1,black 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(343deg,#4c68b1,black 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(343deg,#4c68b1,black 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c68b1', endColorstr='#000',GradientType=0 ); /* IE6-9 */
height: 48%;
    }

    .headerProfile ion-icon {
        font-size: 25px;
        color: #fff;
    }
    ion-icon {
        font-size: 25px;
    }
    .profileHead {
        height: 50%;
    }
    .profileHead ion-row {
        padding-top:40px;
    }
    .imgProfile {
        margin: 0 auto;
        text-align: center;
        width: 100px;
        height: 100px;
        border: rgb(199, 199, 199) 3px solid;
        border-radius: 50%;
    }
    .imgProfile img{
        display: inline;
        margin: 0 auto;
        height: 100%;
        border-radius: 50%;
    }

    .addCCard{
        width: 100%;
        color:#03641b;
        text-align: center;
        z-index: 99;
    }

    .socialInfo{
        margin-top:35px;
        text-align: center;
        color: #fff;
    }
}
