page-profile {
    .headerProfile {
        background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBNX6V3_XBSPtTejIJKm3o93Owz9vvFKBQek8Y5DVSsnRL0CHk7A');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
/*      
background: -moz-linear-gradient(343deg,#4c68b1,black 98%); 
background: -webkit-linear-gradient(343deg,#4c68b1,black 98%); 
background: linear-gradient(343deg,#4c68b1,black 98%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c68b1', endColorstr='#000',GradientType=0 ); */
height: 48%;
    }

    .headerProfile ion-icon {
        font-size: 25px;
        color: #fff;
    }
    ion-icon {
        font-size: 25px;
        color: "default";
    }
    .profileHead {
        height: 50%;
    }
    .profileHead ion-row {
        padding-top:40px;
    }
    .imgProfile {
        margin: 0 auto;
        text-align: center;
        width: 100px;
        height: 100px;
        border: rgb(199, 199, 199) 3px solid;
        border-radius: 50%;
    }
    .imgProfile img{
        display: inline;
        margin: 0 auto;
        height: 100%;
        border-radius: 50%;
    }

    .addCCard{
        width: 100%;
        color:#03641b;
        text-align: center;
        z-index: 99;
    }

    .socialInfo{
        margin-top:35px;
        text-align: center;
        color: #fff;
        padding:10px;
        background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(67,103,132,1) 92%, rgba(70,104,130,1) 100%);
        background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(67,103,132,1) 92%,rgba(70,104,130,1) 100%);
        background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(67,103,132,1) 92%,rgba(70,104,130,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#466882',GradientType=0 );
    }

    .editImageProfile{
        position:relative;
        top:50px;
        z-index: 99;
    }
}
