page-signup {
    ion-content {
        background: #133163; /* Old browsers */
        background: -moz-linear-gradient(343deg,#4c68b1,black 98%); /* FF3.6-15 */
        background: -webkit-linear-gradient(343deg,#4c68b1,black 98%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(343deg,#4c68b1,black 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c68b1', endColorstr='#000',GradientType=0 ); /* IE6-9 */
    }

    .item-ios, .item-md{
        background-color: transparent !important;
        color: #fff !important
    }
    
    button.signUp {
        padding: 15px 15px;
        width: 100%;
    }

}
